@use './mixins' as mix;
@use './variables' as var;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font: inherit;
}

html {
	// 1 rem = 10px => 10px / 16px = 62.5%
	font-size: 62.5%;
}

body {
	background: url(../../images/bg-pattern-top.svg),
		url(../../images/bg-pattern-bottom.svg);
	background-position: left -20vw top -64vh, right -16vw bottom -81vh;
	background-repeat: no-repeat, no-repeat;
	background-color: var.$dark-cyan;

	main {
		width: 100%;
		min-height: 100dvh;
		display: grid;
		place-items: center;
		position: relative;
	}
}
